Repository okTurtles/group-income, pull requests merged in 2022-05, with the labels that each got.

#1256 Use experimental Fetch API instead of node-fetch and form-data
  Gruntfile.js
  package-lock.json
  package.json
  test/avatar-caching.test.js
  test/backend.test.js
Labels: Kind:Enhancement, dependencies

#1229 Feature #1208: Implement payment distribution date dropdown
  frontend/assets/style/components/_forms.scss
  frontend/views/components/group-creation-steps/GroupMincome.vue
  frontend/views/containers/group-settings/GroupCreationModal.vue
Labels: App:Frontend

#1251 Feature #1241: Implement distribution date banner warning widget on dashboard
  frontend/views/pages/GroupDashboard.vue
Labels: App:Frontend

#1264 Messaging functions in group chat page
  frontend/controller/actions/chatroom.js
  frontend/model/contracts/chatroom.js
  frontend/views/containers/chatroom/ChatMain.vue
  frontend/views/containers/chatroom/ConversationGreetings.vue
  frontend/views/containers/chatroom/Emoticons.vue
  frontend/views/containers/chatroom/Message.vue
  frontend/views/containers/chatroom/MessageActions.vue
  frontend/views/containers/chatroom/MessageBase.vue
  frontend/views/containers/chatroom/MessageNotification.vue
  frontend/views/containers/chatroom/MessageReactions.vue
  frontend/views/containers/chatroom/SendArea.vue
  shared/declarations.js
  strings/english.json
  strings/english.strings
  strings/french.json
  strings/french.strings
  test/cypress/integration/group-chat-message.spec.js
Labels: App:Frontend, Kind:Core, Note:Contracts

#1280 Fix #1234 Mobile: info icon disappears on scroll
  frontend/views/components/Page.vue
Labels: App:Frontend

#1274 Optimize memory usage for chatroom contract
  backend/database.js
  backend/routes.js
  frontend/model/contracts/chatroom.js
  frontend/model/contracts/constants.js
  frontend/utils/events.js
  frontend/views/containers/chatroom/ChatMain.vue
  frontend/views/containers/chatroom/ConversationGreetings.vue
  frontend/views/containers/chatroom/Message.vue
  frontend/views/containers/chatroom/MessageBase.vue
  frontend/views/containers/chatroom/chatroom.js
  frontend/views/pages/GroupChat.vue
  package-lock.json
  package.json
  shared/domains/chelonia/chelonia.js
  shared/domains/chelonia/internals.js
  strings/english.json
  strings/english.strings
  strings/french.json
  strings/french.strings
  test/backend.test.js
  test/cypress/integration/group-chat-message.spec.js
  test/cypress/integration/group-chat.spec.js
Labels: Kind:Enhancement, App:Frontend, App:Backend, Priority:High, Note:Contracts
